extends layout

block content
  .w3-container
    .w3-card-4
      header.w3-container.w3-indigo
        center
          h1 Clav
      //- .w3-container
        center
          h3= processo[0].titulo
        h4 Código: #{processo[0].codigo}
        h4 Status: #{processo[0].status}
        p= processo[0].desc
      .w3-container
        table.w3-table-all
          th.w3-indigo Codigo
          th.w3-indigo Titulo
          th.w3-indigo ID
          each elem in descendencia
            tr
              td
                h4
                  a(href="http://localhost:6001/c"+elem.codigo+"/descendencia") #{elem.codigo}
              td
                h4
                  a(href="http://localhost:6001/c"+elem.codigo) #{elem.titulo}
              td
                p
                  a(href="http://localhost:6001/c"+elem.codigo) #{elem.id}