div.w3-bar.w3-indigo
  a.w3-bar-item.w3-button(href=url+"login") Login
  a.w3-bar-item.w3-button(href=url+"login/logout") Logout
  a.w3-bar-item.w3-button(href=url) Homepage
  div.w3-dropdown-hover
    a.w3-button() Administração (todo)
    div.w3-dropdown-content.w3-bar-block.w3-card-4
      a.w3-bar-item.w3-button(href=url+"users") Users
      a.w3-bar-item.w3-button(href=url+"noticias") Noticias
  div.w3-dropdown-hover
    a.w3-button() Produtor
    div.w3-dropdown-content.w3-bar-block.w3-card-4
      a.w3-bar-item.w3-button(href=url+"pacotes/sip") Nova Obra (SIP)
  div.w3-dropdown-hover
    a.w3-button(href=url+"obras") Obras